

#info {
    background-color: #2E282A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  
    
  }

  #info h1 {
    font-family: Montserrat;
    font-size: 70px;
    margin-bottom: 0;
    color: #ffffff;
    height: 130px;
    flex: none;
    

}



#text h2 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: lighter;
    color: #ffffff;
    height: 130px;
    
}

/* #portrait {
    width: 414px;
    height: 484px;
    border-radius: 50px;
    padding: 20px;
} */

/* 





#info #icons {
    display: flex;
    gap: 2em;
    padding: 2em;
}

#info #icons a {
    color: #ffffff
}

#info #icons svg {
    cursor: pointer
}

#info #icons svg:hover {
    color: #8D818C;
}

@media screen and (max-width: 1000px) {
    #info h1 {
        font-size: 50px;
    }
    #info h2 {
        font-size: 30px;
    }
    #info #icons {
        size: 1em;
    }
}

@media screen and (max-width: 576px) {

    #portrait {
        width: 50%;
        height: 50%;
        padding: 40px;
    }

    #info h1 {
        font-size: 34px;
    }
    #info h2 {
        font-size: 20px;
        padding: 0;
    }
} */