

#info {
    background-color: #2E282A;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    grid-template-rows: 0fr 0fr 0fr 0fr;
    
  
    
  }

#info h1 {
    font-family: Montserrat;
    font-size: 70px;
    margin-bottom: 0;
    color: #ffffff;
    height: 100px;
    
    

}

#text {
    height: 70px;
}

#text h2 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: lighter;
    color: #ffffff;
    height: 70px;
    margin-left: 50px;
    
}

#portrait {

    background-image: url("../../public/photo.jpg");
    width: 300px;
    height: 259px;
    border-radius: 50px;
    margin-left: 100px;
    
}

#info #icons {
    display: flex;
    gap: 2em;
    padding: 2em;
    justify-content: center;
}


#info #icons a {
    color: #ffffff
}

#info #icons svg {
    cursor: pointer
}

#info #icons svg:hover {
    color: #8D818C;
}

@media screen and (max-width: 576px) {
    #info h1 {
        font-size: 50px;
    }

    #info h2 {
        font-size: 30px;
        margin-left: 30px;
    }

    #info #icons {
        size: 1em;
    }

    #portrait {
        margin-left: 28px;

    }
}


/* 


@media screen and (max-width: 1000px) {
    #info h1 {
        font-size: 50px;
    }
    #info h2 {
        font-size: 30px;
    }
    #info #icons {
        size: 1em;
    }
}



@media screen and (max-width: 576px) {

    #portrait {
        width: 50%;
        height: 50%;
        padding: 40px;
    }

    #info h1 {
        font-size: 34px;
    }
    #info h2 {
        font-size: 20px;
        padding: 0;
    }
} */