* {
    padding: 0;
}

#list {
    position: fixed;
    width: 100%;
    height: 100%;

}
#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

#info h1 {
    font-family: Helvetica;
    font-size: 70px;
    margin-bottom: 0;
    color: white;

}


#text h2 {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: lighter;
    padding: 10px;
    color: white;
}

#text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

#portrait {
    width: 350px;
    height: 350px;
    border-radius: 50px;
    padding: 20px;
}


#info #icons {
    display: flex;
    gap: 2em;
    padding: 2em;
}

#info #icons a {
    color: white
}

#info #icons svg {
    cursor: pointer
}

#info #icons svg:hover {
    color: rgb(0, 207, 138);
}

@media screen and (max-width: 1000px) {
    #info h1 {
        font-size: 50px;
    }
    #info h2 {
        font-size: 20px;
    }
    #info #icons {
        size: 1em;
    }
}

@media screen and (max-width: 576px) {

    #portrait {
        width: 50%;
        height: 50%;
        padding: 20px;
    }

    #info h1 {
        font-size: 30px;
    }
    #info h2 {
        font-size: 15px;
        padding: 0;
    }
}